@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;

  --animate-infinite-scroll: infinite-scroll 40s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


mat-form-field {
  margin: -5px !important;
  width: 100%;
}

.mat-mdc-form-field-infix {
  min-height: 28px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  padding-bottom: 15px;
  font-size: 14px !important;
}

mat-form-field input {
  font-size: 14px !important;
}


.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: darkred !important;

}


.mdc-text-field--valid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #004664 !important;
}

.dark-mode {
  filter: invert(100%) hue-rotate(180deg);
}

.custom-dialog .mat-mdc-dialog-surface {
  padding: 0 !important;
  border-radius: 14px !important;
  overflow: hidden;
  background: transparent;
  box-shadow: none;
}

